<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Extraction | Images</title>
    <link rel="stylesheet" href="{% static 'color_extractor/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <div class="content-wrapper">
        <main>
            {% if session %}
            <p><a href="{% url 'logout' %}">Logout</a></p>

            <h2 class="photo-subtitle">Your Images</h2>
            <form action="{% url 'images' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form> <br>

            <section class="example-photos">
                {% for i in images_list %}
                    <div class="photo">
                        <img src="{{ i.user_image.url }}" alt="{{ i.image_name }}" style="max-width: 100%;">
                    </div>
                {% endfor %}
            </section>

            {% else %}
            {% url 'login' as login_url %}
            <script>
                window.location.href = "{{ login_url }}";
            </script>
            {% endif %}
        </main>
    </div>

    <footer>
        <p class="contact-info">&copy; 2023 Color Extraction | Contact: <a class="contact-link" href="mailto:colorextraction@gmail.com">colorextraction@gmail.com</a></p>
    </footer>
</body>
</html>